    body {
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f5f5f5;
        }

        header {
            background-color: #ffffff;
            padding: 20px;
            text-align: center;
            border-bottom: 1px solid #ddd;
        }

        header img {
            width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        .container {
            padding: 20px;
        }

        .btn {
            display: block;
            padding: 25px;
            margin-top: 25px;
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            color: #ffffff;
            background-color: #000000;
            border-radius: 8px;
            transition: background-color 0.3s ease;

        }

